<%- include("./layout"), {title:title} %>
<body>
    <% if(user) { %>
        <%- include("./navbar",{user:user}) %> 
    <% } else { %>
        <%- include("./navbar", {user:undefined}) %> 
    <% } %> 
    <div class="container-fluid">
        <% //testing porpusses %>
        <% if (user) { %>
            <h1>Wellcome back, <i><%= user.firstName %></i>!</h1>
            <a href="/messages/create">Create new message</a>
            <% if(messages.length > 0) { %>
                <% messages.forEach((message) => { %>
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><b>Title: </b><%= message.title %> </h5>
                            <p class="card-text"><b>Message: </b><%= message.text %> </p>
                            <hr>
                            <p class="card-text"><b>Author: </b><%= message.author.secondName+", "+message.author.firstName %> </p>
                            <% if(user.membershipStatus === "Admin") { %>
                                <a class="card-link" href= <%= "/messages/"+message._id+"/delete" %> >
                                    Delete message
                                </a>
                            <% } %> 
                        </div>
                    </div>
                <% }) %> 
            <% } else { %>
                <h4>There are no messages yet. Create one yourself!</h4>
            <% } %> 
        <% } else { %>
            <% // No sign in users display %> 
            <h1>Wellcome to members only page!</h1>
            <p>The page contains <b><%= messages.length %></b> different messages. </p>
            <p>Become a user to be able to see them.</p>
        <% } %> 
    </div>
</body>
</html>